* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-image: url("https://images.unsplash.com/photo-1420161900862-9a86fa1f5c79?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  position: relative;
}

header::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

header * {
  z-index: 1;
}

form {
  position: relative;
  max-width: 100%;
  width: 500px;
}

form > input {
  width: 100%;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 16px;
  border: none;
  outline: none;
}

form > button {
  position: absolute;
  right: 2px;
  top: 2px;
  background-color: #aa19c7;
  border: 0;
  color: #fff;
  padding: 13px 30px;
  border-radius: 50px;
  font-size: 16px;
  outline-style: none;
  cursor: pointer;
  /* transform: scale(1);
  transition: all ease 0.1s; */
}

.songs {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.songs li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  width: 50%;
}

.lyrics_button {
  background-color: #781ae3;
  color: #fff;
  border-radius: 50px;
  padding: 2px 5px;
  font-size: 12px;
  outline-style: none;
}
