@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: #224941 url('./asset/bg.jpg') no-repeat center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 300px;
    width: 300px;
    position: relative;
}

.circle{
    background-color: black;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.circle-border{
    height: 320px;
    width: 320px;
    background: conic-gradient(
        #55b7a4 0%,
        #4ca493 40%,
        #fff 40%,
        #fff 60%,
        #336d62 60%,
        #2a5b52 100%
    );
    position: absolute;
    border-radius: 50%;
    z-index: -2;
}

.pointer{
    background-color: #fff;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
}

.pointer-container{
    position: absolute;
    top: -40px;
    width: 20px;
    height: 190px;
    background-color: #333;
    animation: rotate 7.5s linear forwards infinite;
    transform-origin: bottom center;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}