* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  color: #fff;
  height: 100vh;
  margin: 0;
}

h2 {
  margin: 0;
  padding: 5px 30px 5px 15px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: 100%;
  margin: auto auto;
}

.header {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  padding: 5px 30px 5px 15px;
  /* width: 100px; */
  font-size: 20px;
}

.info-container {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.info {
  margin: 0 10px;
  display: flex;
  flex-direction: row;
}

.info p {
  margin: 3px;
}

.seat {
  width: 15px;
  height: 15px;
  background-color: #444451;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 3px;
  cursor: pointer;
}

.seat.selected {
  background-color: turquoise;
}

.seat.occupied {
  background-color: #fff;
  cursor: default;
}

.theater {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen {
  margin: 15px 0;
  width: 150px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 0px 18px #fff;
}

.row {
  display: flex;
  flex-direction: row;
}

.row .seat:nth-child(2) {
  margin-right: 15px;
}

.row .seat:nth-last-child(2) {
  margin-left: 15px;
}
